*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #222831;
    --text-color:  #EEEEEE;
    --main-color: #76ABAE;
    --box-color: #31363F;
}

html{
    font-size: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header{
    top:0;
    position: fixed;
    width: 100%;
    padding: 2em;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 1.2em;
    color:var(--main-color);
    font-weight: 600;
}

.navbar a{
    font-size: 1em;
    color:var(--main-color);
    font-weight: 500;
    margin-left: 3.5em;
    transition: 0.3s;
}

.navbar a:hover{
    color:var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

section div{
    margin: auto; 
    padding-left: 2em;
    padding-right: 2em;
    justify-content: space-between;
    background-color:var(--main-color);
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.subHeading{
    font-size:25px; 
    color: #41C9E2;
}