*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #0F0F22;
    --code-bg-color: #171726;
    --header-color: rgb(255, 225, 58);
    --subHeader-color: #2ab917;
    --text-color: #ffffff86;
    --code-color: #ffffffc7;
    --weighted-c-color: #c93434;
    --function-c-color: #ca3acfc0;
    --variable-c-color: #2189c1;
    --comment-c-color: #5d5d5d;
}

body {
    background-color:var(--bg-color);
    color:var(--text-color);
}

section {
    padding: 3em;
}

.line{
    border: dotted;
}

.intro {
    text-align: center;
}

.intro h1{
    text-align: center;
    font-size: 2.5em;
    color: var(--header-color);
}

.backButton{
    position: absolute;
    z-index: index -1;
    top: 1em;
    left: 1em;
}

.logo{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.logo img{
    align-self: center;
}

.days *{
    padding: 0.3em;
}

.days h2 {
    padding-bottom: 1em;
    font-size: 2em;
    color: var(--header-color);
}

.days h3 {
    color: var(--subHeader-color);
}

.description{
    padding-left: 2em;
}

.display-code{
    white-space-collapse:preserve;
    background-color: var(--code-bg-color);
    color: var(--code-color);
}

.display-code a{
    padding: 0;
}

.code-statement{
    color: var(--weighted-c-color);
}

.function-statement{
    color:var(--function-c-color);
}

.code-variable{
    color: var(--variable-c-color);
}

.code-comment{
    color:var(--comment-c-color);
}

/* Look into making this work
.days{
    display: flex;
    justify-content: space-evenly;
}
*/